.loginPage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loginForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 0.5px solid #ccc;
  border-radius: 0.2rem;
  padding: 2rem 1.5rem;
}

img {
  margin-bottom: 1rem;
  width: 5rem;
  height: 5rem;
}
