.formPage {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 80%;
  flex: 1;
  max-width: 140rem;
  background-color: var(--color-light);
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 0.5px solid #ccc;
  border-radius: 0.2rem;
  padding: 3.5rem 2.5rem;
  background-color: white;
}

.cirrusLogo {
  margin-bottom: 2.5rem;
  width: 9rem;
}

.invitationContent {
  background-color: var(--color-light);
}

.buttonWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
