.MuiDataGrid-root {
  border: none;
  width: 100%;
  padding-right: 2rem;
  padding-left: 1rem;
  margin-left: 0.5rem;
  border-left: 1px solid lightgray;
  border-radius: 0;
}

.MuiBox-root {
  padding-right: 0.5rem;
}

.MuiDataGrid-columnHeaders {
  background-color: #fff;
  font-size: 16;
}

.MuiDataGrid-columnSeparator {
  visibility: hidden;
}

.MuiDataGrid-root .MuiDataGrid-cell:focus {
  outline: none;
  background: transparent;
}

.MuiDataGrid-root .MuiDataGrid-columnHeader:focus {
  outline: none;
}

.MuiBox-root:focus {
  outline: none;
  outline-color: transparent;
  outline-style: none;
  outline-width: 0;
}

.MuiDataGrid-root .MuiDataGrid-cell:focus-within {
  outline: none;
}

.playArrow {
  font-size: 1.8rem;
}

.playArrow:hover {
  fill: #07bc0c;
}

.cloudDownloadIcon {
  fill: var(--button-color-primary);
}

.cloudDownloadIcon:hover {
  fill: var(--button-color-primary-hover);
}

.deleteIcon:hover {
  fill: var(--error-message-color);
}

.MuiDataGrid-root .MuiDataGrid-footerContainer {
  position: relative;
  border: none;
}

.MuiDataGrid-root .MuiDataGrid-footerContainer::before {
  content: '';
  position: absolute;
  bottom: 3.36rem;
  width: 100%;
  left: 0;
  height: 0.2rem;
  top: 0;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  background-image: linear-gradient(360deg, #dee1e1 10%, #f4f4f4 360%);
}

.MuiDataGrid-selectedRowCount {
  display: none;
}

.MuiTablePagination-root {
  margin-left: auto;
}
