.input {
  display: inline-block;
  margin-bottom: 2.7rem;
  border: 1px solid var(--border-color);
  border-radius: 0.2rem;
  width: 20rem;
  padding: 0.9rem;
  font-size: 1rem;
}

.input:focus {
  border: 1px solid blue;
  outline: none;
}

.inputWrapper {
  position: relative;
}

.inputWrapper input::-ms-reveal {
  display: none;
}

.inputWrapper-label {
  position: absolute;
  left: 0.5rem;
  bottom: 5.25rem;
  padding: 0 0.3rem;
  font-weight: 400;
  background-color: var(--color-light);
  font-size: 0.9rem;
  color: var(--dashboard-color-dark-grey);
}
