.input {
  display: inline-block;
  margin-bottom: 1.3rem;
  border: 1px solid var(--border-color);
  border-radius: 0.15rem;
  width: 10rem;
  padding: 0.4rem;
  font-size: 0.5rem;
}

.inputWrapper {
  position: relative;
}

.inputWrapper input::-ms-reveal {
  display: none;
}
