.input {
  display: inline-block;
  margin-bottom: 2.7rem;
  border: 1px solid var(--border-color);
  border-radius: 0.2rem;
  width: 20rem;
  padding: 0.9rem;
  font-size: 1rem;
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  box-shadow: 0 0 0 30px white inset;
}

.input:focus {
  border: 1px solid var(--button-color-primary);
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.input-fluid {
  margin: 0;

  width: 100%;
}

.inputWrapper {
  position: relative;
}

.inputWrapper input::-ms-reveal {
  display: none;
}

.folder-name {
  bottom: 8.8rem;
  left: 3.6rem;
  background-color: #ffffff;
}

.inputWrapper-label--registrationPage,
.inputWrapper-label--forgot-passwordPage,
.inputWrapper-label--password-recoveryPage,
.inputWrapper-label--loginPage,
.inputWrapper-label--invitationPage {
  bottom: 5.2rem;
  left: 1rem;
  background-color: #fff;
}

.inputWrapper-label--invitationPage {
  bottom: 5.2rem;
  left: 1rem;
  background-color: white;
}
