.select {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.7rem;
  border: 1px solid var(--border-color);
  border-radius: 0.2rem;
  width: 20rem;
  color: black;

  padding: 0.9rem;
  font-size: 1rem;
}

.select:focus {
  border: 1px solid var(--button-color-primary);
  outline: none;
}
