.button {
  transition-duration: 0.1s;
  border: 0;
  border-radius: 0.3rem;
  padding: 0.65rem 1.5rem;
  background-color: var(--button-color-primary);
  color: var(--button-text-color);
  font-size: 1.1rem;
  cursor: pointer;
  position: relative;
}
.button:hover {
  background-color: var(--button-color-primary-hover);
}

.invert {
  padding: 0.65rem 0.9rem;
  background-color: white;
  color: var(--button-color-primary);
}
.invert:hover {
  background-color: var(--button-invert-color-primary-hover);
}

.upload {
  border: 1px solid var(--dashboard-color-dark-grey);
  background-color: transparent;
  color: var(--dashboard-color-dark-grey);
}

.upload:hover {
  background-color: var(--button-invert-color-primary-hover);
}

.small {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: space-evenly;
  background-color: transparent;
  color: var(--dashboard-color-dark-grey);
  border: 1px solid var(--dashboard-color-dark-grey);
  font-size: 1rem;
  margin-bottom: 1rem;
  width: 74%;
  height: 2.5rem;
  padding: 0;
}
.small:hover {
  filter: brightness(96%);
}

.button__spinner-wrapper {
  position: relative;
}

.button__spinner {
  position: absolute;
  right: 3.65rem;
  top: 0.2rem;
}
