.folder {
  height: 3.2rem;
  overflow: visible;
  position: relative;
  width: 100%;
  display: flex;
  background-color: var(--dashboard-color-dark-grey);
  border-radius: 0.2rem;
  align-items: center;
  margin-bottom: 0.5rem;
  cursor: pointer;
  border: none;
}

.folder:hover,
.focused {
  background: linear-gradient(135deg, var(--button-color-primary) 70%, rgb(0, 0, 0) 60%);
  box-shadow: -5px 5px 4px 0px rgba(0, 0, 0, 0.33);
  transform: translateX(0.4rem);
}

.folder__icon {
  object-fit: cover;
  fill: var(--color-light);
  width: 2rem;
  margin-left: 1rem;
}

.folder__title {
  color: var(--color-light);
  font-size: 0.85rem;
  font-weight: 600;
  margin-left: 3.4rem;
  position: absolute;
}
