.folder {
  height: 52px;
  overflow: visible;
  position: relative;
  width: 100%;
  display: flex;
  background-color: inherit;
  border-radius: 0.2rem;
  align-items: center;
  cursor: pointer;
  border: none;
  z-index: 1;
  padding: 1rem 0;
  border-bottom: 1px solid lightgray;
}

.folder:hover,
.focused {
  background-color: var(--button-invert-color-primary-hover);
}

.folder__icon {
  object-fit: cover;
  fill: rgb(49, 49, 49);
  width: 1.3rem;
  margin-left: 1rem;
}

.folder__title {
  color: rgb(49, 49, 49);
  font-size: 0.85rem;
  font-weight: 500;
  margin-left: 3rem;
  position: absolute;
}
