* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --text-color-white: #fff;
  --button-text-color: #fff;
  --button-color-primary: #1a73e8;
  --button-color-primary-hover: #0a58be;
  --button-invert-color-primary-hover: #dfeaf7;
  --error-message-color: #d93025;
  --border-color: #ccc;
  --color-light: rgb(245, 245, 245);
  --dashboard-navigation-item-color: rgb(175, 182, 180);
  --dashboard-color-dark-grey: #22252b;
  --icon-color-white: #fff;
}

.wrapper {
  position: relative;
  display: flex;
  height: 100vh;
}
